div {
    position:relative;
    width:100px;
    height:700px;
    resize: both;
    margin: 0 auto;
    overflow: auto;
}
svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: black;
}
rect {
    position: relative;
}